.container {
    width: 762px;
    padding-bottom: 40px;
}

.profile
{
    display: flex;
    justify-content: start;
    align-items: center;
}

.profile img
{
    width: 26px;
    border-radius: 50%;
}

.profile p
{
    font-weight: bold;
    margin-left: 8px;
}

.message
{
    padding-left: 34px;
}

@media (max-width: 1075px) {
    .container {
        width: 90%;
    }
}