.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 20px;
    font-weight: bold;
}

.navbar {}

.chatContainer {
    flex: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    align-self: center;
    width: 762px;
}

.footer {}


@media (max-width: 1075px) {
    .chatContainer {
        margin: 0 25px;
    }

    .inputContainer {
        width: 90%;
    }
}